html,
body {
  overflow-x: visible;
}
.container-fluid {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
.navbarc {
  position: sticky !important;
  top: 0;
  z-index: 9999;
  background: #ffffff;
}


.top-header {
  width: 100%;
  background: #f3eaf0;
  border-bottom: 1px solid #e6d4dc;
  padding: 6px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .header-text {
  color: #702439;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.top-header .social-icon {
  color: #702439;
  font-size: 18px;
  transition: 0.3s ease;
}

.top-header .social-icon:hover {
  color: #ae4361;
  transform: scale(1.1);
}

/* Navbar */
.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar-nav-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: #702439 !important;
  font-weight: 600;
  font-size: 20px;
}
.logo {
  width: 100px;
}
.carticon {
  font-size: 28px;
  color: #702439;
}
.cart-badge {
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: #ae4361 !important;
  border-radius: 50%;
}
.search-wrapper {
  position: relative;
  width: 200px;
}
.search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #702439;
  cursor: pointer;
  font-size: 16px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  /* Top header: show only phone */
  .top-header {
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .top-header .header-text:nth-child(n + 2) {
    display: none;
  }
  .top-header .social-icon {
    display: none;
  }

  .navbar-container {
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .navbar-nav-center {
    display: none;
  }
  .collapse.show .navbar-nav-center {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .search-wrapper.desktop {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .nav-link {
    font-size: 10px;
  }
  .search-wrapper {
    position: relative;
    width: 150px;
  }
  .search-btn {
    font-size: 12px;
  }
}
@media screen and (max-width: 468px) {
  .nav-link {
    font-size: 20px;
  }
  .search-wrapper {
    position: relative;
    width: 200px;
  }
  .search-btn {
    font-size: 16px;
  }
}
